@mixin color-opacity($property, $color, $opacity, $important: false) {

  @if $important {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity) !important;
  }
  
  @else {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity);
  }

}

@mixin color-dark($property, $opacity) {
  #{$property}: lighten($color-dark, $opacity);
}

/* для перехода */
@mixin slide {

  .slide-enter-active {
    transition: all .4s ease;
  }

  .slide-leave-active {
    transform: translateX(100px);
    transition: all .4s ease;
  }

  .slide-enter, .slide-leave-to {
    opacity: 0;
  }

}

/* ошибки при вводе */
@mixin error {
  .error {
    width: 100%;
    margin-top: 5px;
    margin-bottom: -56px;
    margin-left: 170px;

    text-align: left;
    font: 16px/21px Play;
    letter-spacing: .08em;
    color: $error;
  }

  .input-error {
    color: $error !important;
  }

  .input-success {
    color: $color-light !important;
  }
}

@mixin input {
  .input-block {
    width: 729px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 45px auto 0;
    border: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &__input {
      width: 559px;
      height: 42px;

      background: $color-medium;
      border-radius: 10px;
      border: 0;
      padding: 8px 18px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);

      color: $color-light;
      font: 18px/21px Play;

      &:focus {
        //color: $color-accent;
        @include color-opacity(background, $color-medium, .65);
      }

    }

    &__title {
      align-self: flex-end;

      color: $color-light;
      text-align: left;
      font: normal normal bold 16px/19px Play;
      letter-spacing: .08em;

      &-password {
        letter-spacing: .045em;
      }

    }

    &__description {
      margin-top: 41px;
      margin-left: 170px;

      color: $color-pre-medium;
      font: 18px/21px Play;
      letter-spacing: .08em;
      text-align: left;
    }

  }

}