@mixin color-opacity($property, $color, $opacity, $important: false) {

  @if $important {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity) !important;
  }
  
  @else {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity);
  }

}

@mixin color-dark($property, $opacity) {
  #{$property}: lighten($color-dark, $opacity);
}

/* для перехода между страницами */
@mixin slide {

  .slide-enter-active {
    transition: all .4s ease;
  }

  .slide-leave-active {
    //transform: translateX(100px);
    transition: all .4s ease;
  }

  .slide-enter, .slide-leave-to {
    opacity: 0;
  }

}

/* для показа блоков в зависимости от размера, 3 размера */
@mixin width3 {

  @media (min-width: 1081px) {

    .width3 {

      &_big {
        display: block;
      }

      &_748-to-1080, &_mobile {
        display: none;
      }

    }

  }

  @media (max-width: 1080px) {

    .width3 {

      &_748-to-1080 {
        display: block;
      }

      &_big, &_mobile {
        display: none;
      }

    }

  }

  @media (max-width: 748px) {

    .width3 {

      &_mobile {
        display: block;
      }

      &_big, &_748-to-1080 {
        display: none;
      }

    }

  }

}

/* для показа блоков в зависимости от размера, 2 размера */
@mixin width2 {

  @media (min-width: 749px) {

    .width2 {

      &_big {
        display: block;
      }

      &_big-tr {
        display: table-row;
      }

      &_mobile {
        display: none;
      }

    }

  }

  @media (max-width: 748px) {

    .width2 {

      &_mobile {
        display: block;
      }

      &_big, &_big-tr {
        display: none;
      }

    }

  }

}

/* ошибки при вводе */
@mixin error {

  .error {
    width: 100%;
    margin-top: 5px;
    margin-bottom: -56px;
    margin-left: 170px;

    text-align: left;
    font: 16px/21px Play;
    letter-spacing: .08em;
    color: $error;
  }

  .input-error {
    color: $error !important;
  }

  .input-success {
    color: $color-light !important;
  }

}

/* для выписки, там надо выбирать дату */
@mixin datepicker {

  .date-picker {
    display: inline-block;

    &__input {
      height: 37px;
      //width: 281px;

      display: inline-block;

      background: $color-medium !important;
      border: 0;
      border-radius: 10px;
      margin: 0 42px;
      padding: 0 auto;

      color: $color-light;
      font: 22px/28px Play;
      vertical-align: middle;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

    }

    &__calendar {
      background: $color-block-light !important;
      border: 0 !important;
      margin-right: 50px !important;
      width: 420px  !important;

      .prev {
        color: white !important;
      }

      span:hover {
        background: $color-accent !important;
        border: 1px solid transparent !important;
      }

      .up:hover, .prev:hover, .next:hover {
        border: 0 !important;
      }

    }

  }

}

@mixin input {

  .input-block {
    width: 729px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 45px auto 0;
    border: 0;

    & + & {
      margin-top: 45px;    
    }

    &__input {
      width: 559px;
      height: 42px;

      background: $color-medium;
      border-radius: 10px;
      border: 0;
      padding: 8px 18px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);

      color: $color-light;
      font: 18px/21px Play;

      &:focus {
        //color: $color-accent;
        @include color-opacity(background, $color-medium, .65);
      }

    }

    &__title {
      align-self: flex-end;

      color: $color-light;
      text-align: left;
      font: normal normal bold 16px/19px Play;
      letter-spacing: .08em;

      margin-bottom: 10px;

      &-password {
        letter-spacing: .045em;
      }

    }

    &__description {
      margin-top: 41px;
      margin-left: 170px;

      color: $color-pre-medium;
      font: 18px/21px Play;
      letter-spacing: .08em;
      text-align: left;
    }

  }

}