$color-light: #F2F2F2;

$color-main: rgb(45, 155, 219);
$color-main02: rgba(45, 155, 219, 0.2);
$color-main05: rgba(45, 155, 219, 0.5);
$color-main08: rgba(45, 155, 219, 0.8);

$color-main-light: #6DB0FF;
