$dark-theme: false !default;

$color-pre-light: #FFFFFF;
$color-light: #F2F2F2 !default;
$color-pre-medium: #BDBDBD !default;
$color-medium: #4F4F4F !default;
$color-post-medium: #828282 !default;
$color-dark: rgb(19, 24, 28);

$color-main: rgb(211, 88, 88) !default;

$color-main-light: #D35858 !default;

$color-background: #15172D !default;

$error: #D35858 !default;
$success: #6FCF97 !default;

@if $dark-theme {
  $color-light: #F2F2F2;
  $color-pre-medium: #BDBDBD;
  $color-medium: #4F4F4F;
  $color-dark: rgb(19, 24, 28);

  $color-main: rgb(45, 155, 219);

  $color-main-light: #6DB0FF;

  $color-background: #090909;

  $error: #D35858;
  $success: #6FCF97;
}
