.form-control {
	border: 1px blueviolet solid;
	
	.is-valid:focus {
		border-color: $success;
	}

	.is-invalid:focus {
		border-color: $error;
	}
}

.invalid-feedback {
	margin-top: 15px;
	margin-left: 155px;

	color: $error;
	font-family: Play;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.08em;
}

.input-block {
	width: 714px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0 auto;
	margin-top: 45px;
	border: 0;

	&:last-child {
		margin-bottom: 69px;
	}

	&__input {
		width: 529px;
		height: 42px;

		background: $color-medium;
		border-radius: 10px;
		border: 0;
		padding: 8px 15px;

		color: $color-light;
		font-family: Play;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
	}

	&__title {
		align-self: flex-end;

		color: $color-light;
		text-align: left;
		font-family: Play;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.08em;
	}

	&__description {
		margin-top: 15px;
		margin-left: 155px;

		color: $color-pre-medium;
		font-family: Play;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.08em;
		text-align: left;
	}
}