@mixin button-color {
  @include color-opacity(background, $color-block-light, .2);
  background: 
    linear-gradient(90deg, #15172D -20.71%, rgba(61, 65, 104, 0) 100%),
    rgba(red($color-block-light), 
      green($color-block-light), 
      blue($color-block-light), 
      .2); 
  
  &:hover {
    background: $color-accent;
      background: 
        linear-gradient(90deg, #15172D -20.71%, rgba(61, 65, 104, 0) 100%),
        $color-accent; 
      cursor: pointer;
      transition: ease-in-out all .15s;
  }

}

@mixin button-left {

  .button-left {
    height: 62px;
    width: 654px;
    
    color: $color-light;
    text-align: left;
    font: 24px/28px Play, sans-serif;
    letter-spacing: .09em;

    z-index: 2;

    &-wrapper {
      position: relative;
    }

    &-color {
      content: '';
      @include button-color;
      padding-left: 42px;
      z-index: 1;

      position: absolute;
      left: calc((100vw - 1440px) / 2 * (-1));

      width: calc((100vw - 1440px) / 2 + 654px);
      height: 62px;
    }

    &-inner {
      position: absolute;
      left: calc((100vw - 1440px) / 2 * (-1));

      width: calc((100vw - 1440px) / 2 + 654px);
      height: 62px;

      padding-left: calc((100vw - 1440px) / 2 + 42px);
      @include button-color;
      border: 0;
      user-select: none;

      color: $color-light;
      text-align: left;
      font: 24px/28px Play, sans-serif;
      letter-spacing: .09em;
    }

  }

  @media (max-width: 1440px) {

    .button-left {

      &-inner {
        left: 0;
        width: 654px;
        padding-left: 42px;
      }

    }

  }

}

@mixin button-right {

}