/**
 * color-opacity
 * color-dark
 * slide
 * datepicker
 * success
 * login-link
*/

@mixin color-opacity($property, $color, $opacity, $important: false) {

  @if $important {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity) !important;
  }
  
  @else {
    #{$property}: rgba(red($color), green($color), blue($color), $opacity);
  }

}

@mixin color-dark($property, $opacity) {
  #{$property}: lighten($color-dark, $opacity);
}

// для перехода между страницами
@mixin slide {

  .slide-enter-active {
    transition: all .4s ease;
  }

  .slide-leave-active {
    //transform: translateX(100px);
    transition: all .4s ease;
  }

  .slide-enter, .slide-leave-to {
    opacity: 0;
  }

}

// для выписки, там надо выбирать дату
@mixin datepicker {

  .date-picker {
    display: inline-block;

    &__input {
      height: 37px;
      //width: 281px;

      display: inline-block;

      background: $color-medium !important;
      border: 0;
      border-radius: 10px;
      margin: 0 42px;
      padding: 0 auto;

      color: $color-light;
      font: 22px/28px Play, sans-serif;
      vertical-align: middle;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

    }

    &__calendar {
      background: $color-block-light !important;
      border: 0 !important;
      margin-right: 50px !important;
      width: 420px  !important;

      .prev {
        color: white !important;
      }

      span:hover {
        background: $color-accent !important;
        border: 1px solid transparent !important;
      }

      .up:hover, .prev:hover, .next:hover {
        border: 0 !important;
      }

    }

  }

}

// для страниц Перевод совершен, Успешно и все такое
@mixin success {

  .success__button-svg {
    color: $color-accent;
    fill: $color-accent;
    transition: .1s all ease-in-out;
  }

  .success {
    color: $color-light;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
      margin: 89px 0 30.42px;
    }

    &__text {
      font: $font-header;
      letter-spacing: 0.09em;
      text-align: center;
      color: $color-light;

      margin-bottom: 8px;
    }

    &__link {
      color: $color-accent;
      font: 18px/144.2% Play, sans-serif;

      &-text {
        margin-left: 19px;
        vertical-align: middle;
      }

      &:hover {
        color: $color-light;
        text-decoration: none;
      }

    }

    &__block {
      margin-top: 189px;
      margin-bottom: 120px;
      text-align: center;
    }
    
  }
}

// в регистрации "Уже есть аккаунт? Войти"
@mixin login-link {

  .login-link {
    color: $color-accent;
    font: Play, sans-serif;
    text-align: center;
    text-decoration: none;

    
    
    &-wrapper {
      margin: 0 auto 150px;
      padding-left: calc(40% - 36px);
    }

    &__text1 {
      font: 22px/24px Play, sans-serif;
    }

    &__text2 {
      font: 18px/144% Play, sans-serif;
    }

    & > * {
      margin: 0;
      //padding-left: calc(40% - 36px);
    }

    &:hover {
      color: $color-light;
      transition: .1s all ease-in-out;
    }

  }

}